<template>
  <div
    :class="['apartment', apartment.id === currentMidx ? 'blue-apartment' : '']"
    @click="$emit('focusApartment')"
  >
    <h2>
      {{ apartment.name }}
      <v-chip v-if="apartment.rented === 1" class="ma-2" color="error" small>
        Rented
      </v-chip>
      <v-chip v-else class="ma-2" color="success" small> Available </v-chip>
    </h2>
    <p>{{ apartment.description }}</p>
    <v-row>
      <v-col cols="12" sm="6" md="6" lg="4" class="icons">
        <v-icon>mdi-shape-square-plus</v-icon>
        Floor Area Size: <b>{{ apartment.floor_area_size }} m<sup>2</sup></b>
      </v-col>
      <v-col cols="12" sm="6" md="6" lg="4" class="icons">
        <v-icon>mdi-currency-eur</v-icon>
        Price per month: <b>{{ apartment.price_per_month }} €</b>
      </v-col>
      <v-col cols="12" sm="6" md="6" lg="4" class="icons">
        <v-icon>mdi-door-closed</v-icon>
        # rooms: <b>{{ apartment.n_rooms }}</b>
      </v-col>
      <v-col cols="12" sm="6" md="6" lg="4" class="icons">
        <v-icon>mdi-account</v-icon>
        Realtor: <b>{{ apartment.realtor.name }}</b>
      </v-col>
      <v-col
        cols="12"
        sm="12"
        md="12"
        lg="12"
        v-if="apartment.address !== ''"
        class="icons"
      >
        <v-icon>mdi-map-marker-outline</v-icon>
        Address: <b>{{ apartment.address }}</b>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "ApartmentSearchElement",
  props: {
    apartment: {
      type: Object,
    },
    currentMidx: {
      type: Number,
    },
  },
};
</script>

<style lang="scss" scoped>
.apartment {
  border: 1px #41b883 dashed;
  padding: 15px 25px 30px 15px;
  background: #f8fffc;
  margin-bottom: 10px;
  cursor: pointer;
  &.blue-apartment,
  &:hover {
    border: 1px #3432ca dashed;
    padding: 15px 25px 30px 15px;
    background: #e9f5ff;
  }

  .icons {
    margin-bottom: -20px;
  }
  i {
    color: #42b883;
  }
}
</style>
