<template>
  <div class="home">
    <v-container>
      <v-row>
        <v-col cols="12">
          <h2>
            Edit user
            <v-btn
              color="default back"
              elevation="2"
              @click="$router.push('/users')"
              ref="form"
              >Back</v-btn
            >
          </h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="name"
                  label="Name"
                  type="text"
                  :rules="[v => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="email"
                  label="Email"
                  type="email"
                  :rules="emailRules"
                  disabled
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-select
                  v-model="role_id"
                  :items="roles"
                  :rules="[v => !!v || 'Role is required']"
                  label="Role"
                ></v-select>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="password"
                  label="Password"
                  :type="show2 ? 'text' : 'password'"
                  :rules="passwordRules"
                  :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="show2 = !show2"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-btn color="info" class="mr-4" @click="updateUser">
              Submit
            </v-btn>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "UserEdit",
  data() {
    return {
      name: "",
      email: "",
      password: "",
      repeat_password: "",
      role_id: null,
      roles: [
        {
          text: "Admin",
          value: 1,
        },
        {
          text: "Realtor",
          value: 2,
        },
        {
          text: "Client",
          value: 3,
        },
      ],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      passwordRules: [
        password =>
          password.length >= 6 ||
          password.length === 0 ||
          "Password must be at least 6 characters",
      ],
      show1: false,
      show2: false,
      valid: false,
      errors_radio: false,
    };
  },
  computed: {
    ...mapGetters(["users"]),
  },
  created() {
    this.$store.dispatch("getUsers").then(() => {
      let user = this.users.filter(us => {
        if (us.id === this.$route.params.id) return true;
        else return false;
      });
      if (user.length > 0) {
        this.name = user[0].name;
        this.email = user[0].email;
        this.role_id = user[0].role_id;
      }
    });
  },
  methods: {
    updateUser() {
      let valid = this.$refs.form.validate();
      if (valid) {
        this.$store
          .dispatch("updateUser", {
            id: this.$route.params.id,
            name: this.name,
            password: this.password,
            role_id: this.role_id,
          })
          .then(results => {
            if (typeof results !== "undefined" && results.success) {
              this.$noty.success("User saved correctly");
              this.$router.push("/users");
            }
          });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.back {
  float: right;
}
</style>
