<template>
  <div class="home">
    <v-container>
      <v-row>
        <v-col cols="12">
          <h2>
            Users list
            <v-btn
              color="primary back"
              elevation="2"
              @click="$router.push('/users/new')"
              >New user</v-btn
            >
          </h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-data-table
            :headers="headers"
            :items="users"
            :items-per-page="10"
            class="elevation-1"
          >
            <template v-slot:item.id="{ item }">
              <v-btn
                class="mx-2"
                fab
                dark
                x-small
                color="primary"
                @click="editUser(item.id)"
              >
                <v-icon dark> mdi-pencil </v-icon>
              </v-btn>
              <v-btn
                class="mx-2"
                fab
                dark
                x-small
                color="red"
                @click="deleteUser(item.id)"
              >
                <v-icon dark> mdi-minus </v-icon>
              </v-btn>
            </template>
            <template v-slot:item.role_id="{ item }">
              <v-chip
                v-if="item.role_id === 1"
                class="ma-2"
                color="primary"
                small
              >
                Admin
              </v-chip>
              <v-chip
                v-else-if="item.role_id === 2"
                class="ma-2"
                color="success"
                small
              >
                Realtor
              </v-chip>
              <v-chip
                v-else-if="item.role_id === 3"
                class="ma-2"
                color="default"
                small
              >
                Client
              </v-chip>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="headline"> Delete user </v-card-title>

        <v-card-text> Are you sure you want to delete the user? </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog = false">
            What? No
          </v-btn>
          <v-btn color="primary" text @click="confirmDelete()">
            Delete user
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "UserIndex",
  data() {
    return {
      headers: [
        {
          text: "Name",
          align: "start",
          sortable: false,
          value: "name",
        },
        { text: "Email", value: "email" },
        { text: "Role", value: "role_id" },
        { text: "", value: "id" },
      ],
      dialog: false,
      deleted_id: null,
    };
  },
  methods: {
    editUser(id) {
      this.$router.push("/users/" + id);
    },
    deleteUser(id) {
      this.dialog = true;
      this.deleted_id = id;
    },
    confirmDelete() {
      this.dialog = false;
      this.$store.dispatch("deleteUser", this.deleted_id).then(results => {
        if (typeof results !== "undefined" && results.success) {
          this.$noty.success("User deleted correctly");
          this.$store.dispatch("getUsers");
        }
      });
    },
  },
  created() {
    this.$store.dispatch("getUsers");
  },
  computed: {
    ...mapGetters(["users"]),
  },
};
</script>

<style lang="scss" scoped>
.back {
  float: right;
}
</style>
