<template>
  <div class="home">
    <v-container>
      <v-row>
        <v-col cols="12">
          <h2>Search apartments</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="12" md="4" v-if="startLimits">
          <div class="slider">
            <label>Floor Area Size</label>
            <Slider
              v-model="floor_area_size"
              :min="min_floor_area_size"
              :max="max_floor_area_size"
              @change="searchApartments(true)"
            />
          </div>
          <div class="slider">
            <label>Price per month</label>
            <Slider
              v-model="price_per_month"
              :min="min_price_per_month"
              :max="max_price_per_month"
              @change="searchApartments(true)"
            />
          </div>
          <div class="slider">
            <label>Number of rooms</label>
            <Slider
              v-model="n_rooms"
              :min="min_n_rooms"
              :max="max_n_rooms"
              @change="searchApartments(true)"
            />
          </div>
        </v-col>
        <v-col cols="12" sm="12" md="8" v-show="startLimits" id="mapgref">
          <div @mouseup="mouseUp">
            <GmapMap
              :center="{ lat: 0, lng: 0 }"
              :zoom="15"
              map-type-id="terrain"
              class="google-map"
              ref="googlemap"
            >
              <gmap-info-window
                :options="infoOptions"
                :position="infoWindowPos"
                :opened="infoWinOpen"
                @closeclick="infoWinOpen = false"
              >
              </gmap-info-window>
              <GmapMarker
                :key="index"
                v-for="(apartment, index) in apartments"
                :position="{
                  lat: parseFloat(apartment.latitude),
                  lng: parseFloat(apartment.longitude),
                }"
                :clickable="true"
                @click="toggleInfoWindow(apartment)"
                :icon="
                  apartment.rented
                    ? {
                        url:
                          'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                      }
                    : {
                        url:
                          'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                      }
                "
              />
            </GmapMap>
          </div>
          <h5 class="total">
            Filtered {{ apartments.length }} of {{ total }}
            <span class="reset_filters" @click="resetFilters"
              >Reset filter</span
            >
          </h5>
          <Apartment
            :apartment="apartment"
            :currentMidx="currentMidx"
            v-for="apartment in apartments"
            :key="apartment.id"
            v-scroll-to="'#mapgref'"
            v-on:focusApartment="focusApartment(apartment)"
          ></Apartment>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { gmapApi } from "gmap-vue";

import Slider from "@vueform/slider/dist/slider.vue2.js";
import Apartment from "./components/Apartment.vue";

export default {
  name: "Search",
  data() {
    return {
      //Limit of the sliders
      min_floor_area_size: 0,
      max_floor_area_size: 100,
      min_price_per_month: 0,
      max_price_per_month: 100,
      min_n_rooms: 0,
      max_n_rooms: 100,
      //Current value of sliders
      floor_area_size: [0, 100],
      price_per_month: [0, 100],
      n_rooms: [0, 100],
      startLimits: false,
      apartmentsRaw: [],
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      infoOptions: {
        content: "",
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: -35,
        },
      },
      //We save the bounds of the map in order to filter apartments geographically
      latitude_limits: null,
      longitude_limits: null,
      searching: false,
      total: 0,
    };
  },
  components: {
    Slider,
    Apartment,
  },
  methods: {
    resetFilters() {
      this.latitude_limits = null;
      this.longitude_limits = null;
      this.floor_area_size = [
        this.min_floor_area_size,
        this.max_floor_area_size,
      ];
      this.price_per_month = [
        this.min_price_per_month,
        this.max_price_per_month,
      ];
      this.n_rooms = [this.min_n_rooms, this.max_n_rooms];
      this.searchApartments(true);
    },
    focusApartment(apartment) {
      this.infoWindowPos = {
        lat: parseFloat(apartment.latitude),
        lng: parseFloat(apartment.longitude),
      };
      this.infoOptions.content =
        "<b>" + apartment.name + "</b><p>" + apartment.description + "</p>";

      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === apartment.id) {
        this.infoWinOpen = !this.infoWinOpen;
      }

      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true;
        this.currentMidx = apartment.id;
      }
    },
    mouseUp() {
      this.searchApartments(false);
    },
    //We only reescale the map and focus all the apartments centered if we are changing the sliders, but not if we drag or zoom the map
    searchApartments(reescale = false) {
      if (!this.searching) {
        this.searching = true;
        this.$store
          .dispatch("searchApartments", {
            floor_area_size: this.floor_area_size,
            price_per_month: this.price_per_month,
            n_rooms: this.n_rooms,
            latitude: this.latitude_limits,
            longitude: this.longitude_limits,
          })
          .then(data => {
            let listApartments = data.apartments;
            this.total = data.total;
            this.apartmentsRaw = listApartments;

            if (typeof this.$refs.googlemap !== "undefined") {
              if (reescale) {
                this.rescalemap();
                //Reset limits, and wait until user move again the map in order to fill again these fields.
                this.latitude_limits = null;
                this.longitude_limits = null;
              }
              this.searching = false;
            } else {
              setTimeout(() => {
                if (reescale) {
                  this.rescalemap();
                  //Reset limits, and wait until user move again the map in order to fill again these fields.
                  this.latitude_limits = null;
                  this.longitude_limits = null;
                }
                this.searching = false;
              }, 500);
            }
          })
          .catch(() => {
            this.searching = false;
          });
      }
    },
    //When click marker in map, we show info window
    toggleInfoWindow: function (apartment) {
      this.infoWindowPos = {
        lat: parseFloat(apartment.latitude),
        lng: parseFloat(apartment.longitude),
      };
      this.infoOptions.content =
        "<b>" + apartment.name + "</b><p>" + apartment.description + "</p>";

      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === apartment.id) {
        this.infoWinOpen = !this.infoWinOpen;
      }

      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true;
        this.currentMidx = apartment.id;
      }
    },
    //It center and zoom the map to contain all the apartments of the map
    rescalemap() {
      if (this.apartments.length > 0) {
        this.$refs.googlemap.$mapPromise.then(map => {
          let maps = this.google.maps;
          let bounds = new maps.LatLngBounds();
          this.apartments.forEach(apartment => {
            bounds.extend(
              new maps.LatLng(
                parseFloat(apartment.latitude),
                parseFloat(apartment.longitude)
              )
            );
          });
          map.fitBounds(bounds);
          map.panToBounds(bounds, 0);
          this.currentMidx = null;
        });
      }
    },
  },
  async mounted() {
    await this.$gmapApiPromiseLazy();
    this.$store.dispatch("limitsApartments").then(limits => {
      let lim = limits.limits[0];
      this.min_floor_area_size = lim.min_floor_area_size;
      this.max_floor_area_size = lim.max_floor_area_size;
      this.min_price_per_month = lim.min_price_per_month;
      this.max_price_per_month = lim.max_price_per_month;
      this.min_n_rooms = lim.min_n_rooms;
      this.max_n_rooms = lim.max_n_rooms;
      this.floor_area_size = [lim.min_floor_area_size, lim.max_floor_area_size];
      this.price_per_month = [lim.min_price_per_month, lim.max_price_per_month];
      this.n_rooms = [lim.min_n_rooms, lim.max_n_rooms];
      this.startLimits = true;
      this.searchApartments(true);
      /**
       * there are two events that we need to detect: zoom_changed and bounds_changed (dragend is not running correctly in this component)
       * after zoom_changed we save the new bounds limits (latitude_limits, and longitude_limits) in order to use in the next search. Inmediately we search
       */
      this.$refs.googlemap.$on("zoom_changed", () => {
        this.$refs.googlemap.$mapPromise.then(map => {
          if (!this.searching) {
            let bounds = map.getBounds();
            this.latitude_limits = bounds.Ua;
            this.longitude_limits = bounds.La;
            this.searchApartments();
          }
        });
      });
      /**
       * after bounds_change we only update the bounds, but we don't execute new search until the mouse is up. We detect mouse up with the function mouseUp
       */
      this.$refs.googlemap.$on("bounds_changed", () => {
        this.$refs.googlemap.$mapPromise.then(map => {
          if (!this.searching) {
            let bounds = map.getBounds();
            this.latitude_limits = bounds.Ua;
            this.longitude_limits = bounds.La;
          }
        });
      });
    });
  },
  computed: {
    ...mapGetters(["role", "user"]),
    google: gmapApi,
    apartments() {
      //we want to show first the apartment selected in map
      let aparts = this.apartmentsRaw;
      aparts.sort(apart1 => {
        if (apart1.id === this.currentMidx) return -1;
        else return 1;
      });
      return aparts;
    },
  },
};
</script>

<style src="@vueform/slider/themes/default.css"></style>

<style lang="scss" scoped>
.slider {
  border: 1px #dedede dashed;
  padding: 15px 25px 15px 15px;
  background: #f9f9f9;
  margin-bottom: 10px;
  > label {
    margin-bottom: 44px;
    display: block;
    font-size: 18px;
  }
}
.google-map {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}
.total {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.reset_filters {
  float: right;
  cursor: pointer;
  color: #3432ca;
}
</style>
