<template>
  <div class="home">
    <v-container>
      <v-row>
        <v-col cols="12">
          <h2>
            Edit apartment
            <v-btn
              color="default back"
              elevation="2"
              @click="$router.push('/apartments')"
              ref="form"
              >Back</v-btn
            >
          </h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="name"
              label="Name"
              type="text"
              :rules="nameRules"
            ></v-text-field>

            <v-textarea
              filled
              name="input-7-4"
              label="Description"
              :rules="descriptionRules"
              v-model="description"
            ></v-textarea>

            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="floor_area_size"
                  type="number"
                  label="Floor area size (m2)"
                  :rules="[v => !!v || 'Floor area size is required']"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field
                  v-model="price_per_month"
                  type="number"
                  label="Price per month (€)"
                  :rules="[v => !!v || 'Price is required']"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="n_rooms"
                  type="number"
                  label="# rooms"
                  :rules="[v => !!v || '# rooms is required']"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-switch
                  v-model="rented"
                  :label="rented ? 'Rented' : 'Not rented'"
                ></v-switch>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" md="6">
                <v-radio-group
                  v-model="address_type"
                  row
                  :rules="[v => !!v || 'Address type is required']"
                  mandatory
                >
                  <v-radio label="Fill address" value="1"></v-radio>
                  <v-radio
                    label="Fill latitude | longitude"
                    value="2"
                  ></v-radio>
                </v-radio-group>
                <span
                  class="span-alert"
                  v-if="
                    errors_radio && address_type !== '1' && address_type !== '2'
                  "
                >
                  Select an Address Type
                </span>
              </v-col>
              <v-col cols="12" md="6" v-show="role === 'admin'">
                <v-select
                  v-if="role === 'admin'"
                  v-model="realtor_id"
                  :items="selectUsers"
                  :rules="[v => !!v || 'Realtor is required']"
                  label="Realtor"
                ></v-select>
              </v-col>
            </v-row>

            <v-row v-if="address_type === '1'">
              <v-col cols="12" md="12">
                <VueGooglePlaces
                  v-model="address"
                  :api-key="key"
                  types="address"
                  @placechanged="getAddressData"
                  class="without-placeholder"
                >
                  <v-text-field
                    v-model="address"
                    label="Address"
                    :rules="[v => !!v || 'Address is required']"
                    required
                  />
                </VueGooglePlaces>
              </v-col>
            </v-row>

            <v-row v-if="address_type === '2'">
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="latitude"
                  label="Latitude"
                  type="number"
                  :rules="[v => !!v || 'Latitude is required']"
                ></v-text-field>
              </v-col>
              <v-col>
                <v-text-field
                  v-model="longitude"
                  label="Longitude"
                  type="number"
                  :rules="[v => !!v || 'Longitude is required']"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" md="6"> </v-col>
            </v-row>

            <v-btn color="info" class="mr-4" @click="updateApartment">
              Submit
            </v-btn>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { VueGooglePlaces } from "vue-google-places";
import { mapGetters } from "vuex";
export default {
  name: "ApartmentsEdit",
  data() {
    return {
      name: "",
      description: "",
      floor_area_size: null,
      price_per_month: null,
      n_rooms: null,
      longitude: null,
      latitude: null,
      address_type: 1,
      address: "",
      addressComponent: {},
      addressValidation: [value => !value, "Required"],
      key: process.env.VUE_APP_PLACE_KEY,
      rented: false,
      realtor_id: null,
      nameRules: [
        v => !!v || "Name is required",
        v =>
          (v && v.length <= 191) || "Name can't have more than 191 characters",
      ],
      descriptionRules: [
        v => !!v || "Description is required",
        v =>
          (v && v.length <= 65535) ||
          "Description can't have more than 65535 characters",
      ],
      password: "",
      passwordRules: [
        v => !!v || "Password is required",
        v => (v && v.length >= 8) || "Password must be more than 8 characters",
      ],
      show1: false,
      show2: false,
      valid: false,
      errors_radio: false,
    };
  },
  components: {
    VueGooglePlaces,
  },
  computed: {
    ...mapGetters(["users", "role", "user", "apartments"]),
    selectUsers() {
      let newUsers = [];
      this.users.forEach(user => {
        if (user.role_id === 2) {
          newUsers.push({
            value: user.id,
            text: user.name,
          });
        }
      });
      return newUsers;
    },
  },
  created() {
    if (this.role === "admin") this.$store.dispatch("getUsers");
    else this.realtor_id = this.user.id;
    this.$store.dispatch("getApartments").then(() => {
      let apartment = this.apartments.filter(apart => {
        if (apart.id === this.$route.params.id) return true;
        else return false;
      });
      if (apartment.length > 0) {
        this.name = apartment[0].name;
        this.description = apartment[0].description;
        this.floor_area_size = apartment[0].floor_area_size;
        this.price_per_month = apartment[0].price_per_month;
        this.n_rooms = apartment[0].n_rooms;
        this.longitude = apartment[0].longitude;
        this.latitude = apartment[0].latitude;
        this.address_type = "" + apartment[0].address_type;
        this.address = apartment[0].address;
        this.rented = apartment[0].rented;
        this.realtor_id = apartment[0].realtor_id;
      }
    });
  },
  methods: {
    /**
     * get info google place for addressComponent
     * @method getAddressData
     * @returns 'addressComponent' object whit data
     */
    getAddressData(addressData) {
      this.addressComponent = addressData;
    },
    updateApartment() {
      let valid = this.$refs.form.validate();
      if (valid) {
        if (this.address_type !== "1" && this.address_type !== "2") {
          this.errors_radio = true;
        } else {
          this.errors_radio = false;
          if (this.role !== "admin") {
            this.realtor_id = this.user.id;
          }
          this.$store
            .dispatch("updateApartment", {
              id: this.$route.params.id,
              name: this.name,
              description: this.description,
              floor_area_size: this.floor_area_size,
              price_per_month: this.price_per_month,
              n_rooms: this.n_rooms,
              longitude: this.longitude,
              latitude: this.latitude,
              address_type: this.address_type,
              address: this.address,
              addressComponent: this.addressComponent,
              rented: this.rented,
              realtor_id: this.realtor_id,
            })
            .then(results => {
              if (typeof results !== "undefined" && results.success) {
                this.$noty.success("Apartment updated correctly");
                this.$router.push("/apartments");
              }
            });
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.back {
  float: right;
}
</style>
