<template>
  <div class="home">
    <v-container>
      <v-row>
        <v-col cols="12">
          <h2>
            Apartments list
            <v-btn
              color="primary back"
              elevation="2"
              @click="$router.push('/apartments/new')"
              >New apartment</v-btn
            >
          </h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-data-table
            :headers="headers"
            :items="apartmentsFiltered"
            :items-per-page="10"
            class="elevation-1"
          >
            <template v-slot:item.realtor_id="{ item }">
              <div v-if="item.realtor">
                {{ item.realtor.name }}
              </div>
            </template>
            <template v-slot:item.price_per_month="{ item }">
              {{ item.price_per_month }} €
            </template>
            <template v-slot:item.floor_area_size="{ item }">
              <div v-if="item.floor_area_size">
                {{ item.price_per_month }} m<sup>2</sup>
              </div>
            </template>
            <template v-slot:item.rented="{ item }">
              <v-chip
                v-if="item.rented === 1"
                class="ma-2"
                color="primary"
                small
              >
                Rented
              </v-chip>
              <v-chip v-else class="ma-2" color="default" small>
                Available
              </v-chip>
            </template>
            <template v-slot:item.id="{ item }">
              <v-btn
                class="mx-2"
                fab
                dark
                x-small
                color="primary"
                @click="editApartment(item.id)"
              >
                <v-icon dark> mdi-pencil </v-icon>
              </v-btn>
              <v-btn
                class="mx-2"
                fab
                dark
                x-small
                color="red"
                @click="deleteApartment(item.id)"
              >
                <v-icon dark> mdi-minus </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="headline"> Delete apartment </v-card-title>

        <v-card-text>
          Are you sure you want to delete the apartment?
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog = false">
            What? No
          </v-btn>
          <v-btn color="primary" text @click="confirmDelete()">
            Delete apartment
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ApartmentsIndex",
  data() {
    return {
      headers: [
        {
          text: "Name",
          align: "start",
          sortable: false,
          value: "name",
        },
        { text: "Description", value: "description" },
        { text: "Floor area size", value: "floor_area_size" },
        { text: "Price per month", value: "price_per_month" },
        { text: "# rooms", value: "n_rooms" },
        { text: "Rented", value: "rented" },
        { text: "Owner", value: "realtor_id" },
        { text: "", value: "id" },
      ],
      dialog: false,
      deleted_id: null,
    };
  },
  methods: {
    editApartment(id) {
      this.$router.push("/apartments/" + id);
    },
    deleteApartment(id) {
      this.deleted_id = id;
      this.dialog = true;
    },
    confirmDelete() {
      this.dialog = false;
      this.$store.dispatch("deleteApartment", this.deleted_id).then(results => {
        if (typeof results !== "undefined" && results.success) {
          this.$noty.success("Apartment deleted correctly");
        }
      });
    },
  },
  created() {
    this.$store.dispatch("getApartments");
  },
  computed: {
    ...mapGetters(["apartments", "role", "user"]),
    apartmentsFiltered() {
      if (this.role === "admin") return this.apartments;
      else {
        return this.apartments.filter(apartment => {
          if (apartment.realtor_id === this.user.id) return true;
          else return false;
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.back {
  float: right;
}
</style>
