<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="@/assets/inverted.png"
          transition="scale-transition"
          width="40px"
          height="40px"
        />
      </div>
      <v-toolbar-title>Apartments Rental App</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-tooltip bottom v-if="loged">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            @click="$router.push('/search')"
            v-if="loged"
            v-bind="attrs"
            v-on="on"
            :class="$route.name === 'Search' ? 'selected' : ''"
          >
            <v-icon>mdi-format-list-checkbox</v-icon>
          </v-btn>
        </template>
        <span>Search apartments</span>
      </v-tooltip>

      <v-tooltip bottom v-if="loged && (admin || realtor)">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            @click="$router.push('/apartments')"
            v-bind="attrs"
            v-on="on"
            :class="$route.name === 'Apartments' ? 'selected' : ''"
          >
            <v-icon>mdi-home</v-icon>
          </v-btn>
        </template>
        <span>Apartments</span>
      </v-tooltip>

      <v-tooltip bottom v-if="loged && admin">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            @click="$router.push('/users')"
            v-bind="attrs"
            v-on="on"
            :class="$route.name === 'Users' ? 'selected' : ''"
          >
            <v-icon>mdi-account</v-icon>
          </v-btn>
        </template>
        <span>Users</span>
      </v-tooltip>

      <span v-if="loged" class="username">Hi, {{ user.name }}</span>
      <v-menu left bottom v-if="loged">
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item @click="logout" class="pointer">
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import "vuejs-noty/dist/vuejs-noty.css";
import { mapGetters } from "vuex";

export default {
  name: "App",

  methods: {
    logout() {
      this.$store.dispatch("logout").then(() => {
        localStorage.removeItem("vuex");
        this.$router.push("/");
      });
    },
  },
  computed: {
    ...mapGetters(["token", "role", "user"]),
    loged() {
      if (this.token && this.token !== "") return true;
      return false;
    },
    admin() {
      if (this.role === "admin") return true;
      return false;
    },
    realtor() {
      if (this.role === "realtor") return true;
      return false;
    },
    client() {
      if (this.role === "client") return true;
      return false;
    },
  },
};
</script>

<style lang="scss">
.noty_layout {
  .noty_body {
    font-family: Roboto, sans-serif;
    font-size: 12px !important;
  }
}
h3 {
  font-weight: 400;
  font-size: 22px;
}
.selected::before {
  background-color: #ffffff;
  opacity: 0.1 !important;
}
.username {
  margin-left: 20px;
}
.pointer {
  cursor: pointer;
}
</style>
