<template>
  <div class="home">
    <v-container>
      <v-row class="text-center">
        <v-col cols="12">
          <v-img
            :src="require('../assets/logo_large.png')"
            class="my-3 logo_image"
            contain
            width="400"
          />
        </v-col>
        <v-col class="mb-4 restart">
          <h3 class="mb-10"><b>Restart</b> your password</h3>
          <p>
            Fill your email and submit it. We will send you a link to your email
            to restart your account password.
          </p>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="E-mail"
              required
            ></v-text-field>

            <v-row>
              <v-col cols="12" sm="6" class="text-left">
                <v-btn
                  :disabled="!valid"
                  color="info"
                  class="mr-4"
                  @click="register"
                >
                  Receive email
                </v-btn>
              </v-col>
              <v-col cols="12" sm="6" class="text-right">
                <a @click="$router.push('/')">Log in</a>
              </v-col>
            </v-row>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Forgot",
  data() {
    return {
      name: "",
      email: "",
      nameRules: [v => !!v || "Name is required"],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      password: "",
      passwordRules: [
        v => !!v || "Password is required",
        v => (v && v.length >= 8) || "Password must be more than 8 characters",
      ],
      show1: false,
      show2: false,
      valid: false,
    };
  },
  methods: {
    register() {
      this.$store
        .dispatch("forgot", {
          email: this.email,
        })
        .then(results => {
          if (typeof results !== "undefined" && results.success) {
            this.$noty.success("Email sended correctly");
            this.$router.push("/");
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.restart {
  max-width: 600px;
  margin: auto;
}
.logo_image {
  margin: auto;
}
</style>
