<template>
  <div class="home">
    <v-container>
      <v-row class="text-center">
        <v-col cols="12">
          <v-img
            :src="require('../assets/logo_large.png')"
            class="my-3 image_logo"
            contain
            width="400"
          />
        </v-col>
        <v-col class="mb-4 login">
          <h3 class="mb-10">Please, <b>login</b> to see the apartments</h3>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="E-mail"
              required
            ></v-text-field>

            <v-text-field
              v-model="password"
              :rules="passwordRules"
              :type="show1 ? 'text' : 'password'"
              name="input-10-1"
              label="Password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="show1 = !show1"
            ></v-text-field>

            <v-row>
              <v-col cols="12" sm="6" class="text-left">
                <v-btn
                  :disabled="!valid"
                  color="info"
                  class="mr-4"
                  @click="login"
                >
                  Submit
                </v-btn>
              </v-col>
              <v-col cols="12" sm="6" class="text-right">
                <a @click="$router.push('/forgot')">Forgot password?</a>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12 mt-10">
                Don't have an account yet?
                <a @click="$router.push('/register')">Sign up</a>
              </v-col>
            </v-row>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      email: "admin@example.com",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      password: "password",
      passwordRules: [
        v => !!v || "Password is required",
        v => (v && v.length >= 8) || "Password must be more than 8 characters",
      ],
      show1: false,
      valid: false,
    };
  },
  methods: {
    login() {
      this.$store
        .dispatch("login", {
          email: this.email,
          password: this.password,
        })
        .then(() => {
          this.$router.push("/search");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.image_logo {
  margin: auto;
}
.login {
  max-width: 600px;
  margin: auto;
}
</style>
