<template>
  <div class="home">
    <v-container>
      <v-row class="text-center">
        <v-col cols="12">
          <v-img
            :src="require('../assets/logo_large.png')"
            class="my-3 image_logo"
            contain
            width="400"
          />
        </v-col>
        <v-col class="mb-4 login">
          <h3 class="mb-10"><b>Register</b> new account</h3>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="name"
              :rules="nameRules"
              label="Name"
              required
            ></v-text-field>

            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="E-mail"
              required
            ></v-text-field>

            <v-text-field
              v-model="password"
              :rules="passwordRules"
              :type="show2 ? 'text' : 'password'"
              name="input-10-1"
              label="Password"
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="show2 = !show2"
            ></v-text-field>

            <v-row>
              <v-col cols="12" sm="6" class="text-left">
                <v-btn
                  :disabled="!valid"
                  color="info"
                  class="mr-4"
                  @click="register"
                >
                  Register new user
                </v-btn>
              </v-col>
              <v-col cols="12" sm="6" class="text-right">
                <a @click="$router.push('/')">Log in</a>
              </v-col>
            </v-row>
            <v-row> </v-row>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Register",
  data() {
    return {
      name: "",
      email: "",
      nameRules: [v => !!v || "Name is required"],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      password: "",
      passwordRules: [
        v => !!v || "Password is required",
        v => (v && v.length >= 8) || "Password must be more than 8 characters",
      ],
      show1: false,
      show2: false,
      valid: false,
    };
  },
  methods: {
    register() {
      this.$store
        .dispatch("register", {
          name: this.name,
          email: this.email,
          password: this.password,
        })
        .then(results => {
          if (typeof results !== "undefined" && results.success) {
            this.$noty.success("User created correctly");
            this.$router.push("/");
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.image_logo {
  margin: auto;
}
.login {
  max-width: 600px;
  margin: auto;
}
</style>
